<%= render "shared/second-header"%>

<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      <p>商品登録が完了しました</p>
      <%# <p>発送までしばらくお待ち下さい</p> %>
    </h1>

    <%# 購入内容の表示 %>
    <%= render "shared/item-contents-show" %>

    <div class='buy-btn'>
      <%= link_to "引き続き 商品出品を行う", new_item_path , class: "buy-red-btn" %>
      <%= link_to "トップページへ戻る", "/" , class: "buy-red-btn" %>
    </div>
  </div>
</div>
<%= render "shared/second-footer"%>