<% breadcrumb :item_destroy %>
<%= render "shared/second-header"%>

<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      <p>以下の商品を削除します。</p>
      <p>本当によろしいですか？</p>
    </h1>
    
    <%# 購入内容の表示 %>
    <%= render "shared/item-contents-show" %>

    <div class='buy-btn'>
      <%= link_to "商品詳細ページへ戻る", item_path(params[:id]), name: "commit_top", class: "buy-red-btn" %>
      <%= link_to "削除する", item_path(@item), name: "commit_del", method: :delete,  class: "buy-red-btn" %>
    </div>
  </div>
</div>
<%= render "shared/second-footer"%>