<%= render "shared/second-header"%>

<div class='transaction-contents'>
  <div class='transaction-main'>
    <h1 class='transaction-title-text'>
      <p>商品の編集が完了しました</p>
      <%# <p>発送までしばらくお待ち下さい</p> %>
    </h1>
    <%# 購入内容の表示 %>
    <div class='buy-item-info'>
      <%#= image_tag @item.image.variant(resize: '150x150'), class: 'buy-item-img' %>
      <%= image_tag @item.images[0].variant(resize: '150x150'), class: 'buy-item-img' %>            
      <div class='buy-item-right-content'>
        <h2 class='buy-item-text'>
          <%= @item.title %>
        </h2>
        <div class='buy-item-price'>
          <p class='item-price-text'>¥<%= @item.price %></p>
          <p class='item-price-sub-text'><%= "　#{@item.delivery_fee.name}" %></p>
        </div>
      </div>
    </div>
    <%# /購入内容の表示 %>

    <div class='buy-btn'>
      <%= link_to "商品詳細ページへ戻る", item_path(params[:id]), class: "buy-red-btn" %>
      <%= link_to "トップページへ戻る", "/" , class: "buy-red-btn" %>
    </div>
  </div>
</div>
<%= render "shared/second-footer"%>